<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>435060743155-v6sn9744vk698iq5f18j9b6npik26mej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435060743155-v6sn9744vk698iq5f18j9b6npik26mej</string>
	<key>API_KEY</key>
	<string>AIzaSyBnQtwWA7BIuswVfA9D5GjNiXeVjLmEBcM</string>
	<key>GCM_SENDER_ID</key>
	<string>435060743155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matkatmusic.MyAdProject</string>
	<key>PROJECT_ID</key>
	<string>myadproject-323fe</string>
	<key>STORAGE_BUCKET</key>
	<string>myadproject-323fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435060743155:ios:64a78edff5c8f62e</string>
	<key>DATABASE_URL</key>
	<string>https://myadproject-323fe.firebaseio.com</string>
</dict>
</plist>